body {
    background-color: darkolivegreen(153, 50, 204, 0.817);
    margin: 0px
}

nav a {
    margin-top: 5px;
    padding: 2px;
    font-size: 20px;
    color: darkolivegreen (204, 168, 238, 0.192);
    display: flex;
    justify-content: center;
}
h1 {
    color: rgb(0, 124, 66);
    padding-top: 5%;
}
.luz {
    font-style: italic;
}

.img1 {
    width: 50%;
}

.centro {
    text-align: center;
}