body {
    background-color: floralwhite(153, 50, 204, 0.817);
    margin: 0px
}

nav a {
    margin-top: 5px;
    padding: 2px;
    font-size: 30px;
    color: rgb(35, 56, 0) (204, 168, 238, 0.192);
    display: flex;
    justify-content: center;
}
h1 {
    color: rgb(0, 62, 33);
    padding-top: 5%;
}
.luz {
    font-size: medium;
}

.img1 {
    width: 30%;
}

.centro {
    text-align: center;
}